.margin {
    margin-top: 50px;
}
.img_index{
    height: 450px;
}
.ani_img{

}
.img_sli{
    margin-top: 30px;
    width: 1500px;
}
.bg-footer {
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: black;
    color: white;
}